@font-face {
    font-family: 'ggsans'; 
    src: url('./fonts/ggsans-Normal.ttf');
}

@font-face {
    font-family: 'ggsans i'; 
    src: url('./fonts/ggsans-NormalItalic.ttf');
}

@font-face {
    font-family: 'ggsans m'; 
    src: url('./fonts/ggsans-Medium.ttf');
}

@font-face {
    font-family: 'ggsans s'; 
    src: url('./fonts/ggsans-Semibold.ttf');
}

@font-face {
    font-family: 'ggsans si'; 
    src: url('./fonts/ggsans-SemiboldItalic.ttf');
}

@font-face {
    font-family: 'ggsans b'; 
    src: url('./fonts/ggsans-Bold.ttf');
}

@font-face {
    font-family: 'ggsans bi'; 
    src: url('./fonts/ggsans-BoldItalic.ttf');
}

@font-face {
    font-family: 'ggsans e'; 
    src: url('./fonts/ggsans-ExtraBold.ttf');
}

@font-face {
    font-family: 'ggsans ei'; 
    src: url('./fonts/ggsans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'unisans b'; 
    src: url('./fonts/UniSans-Trial-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./img/Cloud-Aesthetic-Backgrounds-Desktop.jpg");
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer {
    height:640px;
    width: 348px;
    background: linear-gradient(#420074, #9200ff);
    border-radius: 10px;
    position: relative;
}

.inner {
    height: 632px;
    width: 340px;
    background: linear-gradient(#200038,#200038,#540090);
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: 4px;
}

.gifb {
    width: 340px;
    height: 120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ava {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #200038;
    left:22px;
    top: 76px;
    position: absolute;
}

.beauty {
    height: 96px;
    width: 96px;
    left:16px;
    top: 68px;
    position: absolute;
}

.badges {
    width: 126px;
    height: 30px;
    position: absolute;
    background: #130020;
    right: 16px;
    top: 130px;
    border-radius: 8px;
}

.mprofile{
    height: 438px;
    width: 308px;
    position: absolute;
    background: #130020;
    right: 16px;
    bottom: 16px;
    border-radius: 8px;
    font-family: 'ggsans s';
}

.info {
    position: absolute;
    color: white;
    width: 308px;
    height: 74px;
}

.line {
    width: 284px;
    height: 1px;
    background: grey;
    position: absolute;
    margin: 12px 12px 0;
    top: 74px;
}

.line2 {
    width: 284px;
    height: 1px;
    background: grey;
    position: absolute;
    margin: 12px 12px 0;
    top: 243px;
}

.hql {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.HypeSquad {
    height: 22px;
    width: 22px;
    position: absolute;
}

.ad {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 26px;
    top: 4px;
}

.ActiveDeveloper {
    height: 22px;
    width: 22px;
    position: absolute;
}

.ns {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 40%;
    top: 4px;
}

.Nitro {
    height: 22px;
    width: 22px;
    position: absolute;
}

.bs {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 60%;
    top: 4px; 
}

.NitroBoost {
    height: 22px;
    width: 22px;
    position: absolute;
}

.on {
    height: 22px;
    width: 22px;
    position: absolute;
    right: 4px;
    top: 4px; 
}

.OldName {
    height: 22px;
    width: 22px;
    position: absolute;
}

.username {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 12px;
    top: 10px
}

.id {
    font-size: 14px;
    color: white;
    position: absolute;
    left: 12px;
    bottom: 28%;
}

.other {
    font-size: 14px;
    color: lightgrey;
    position: absolute;
    left: 12px;
    bottom: 0px;
}

.scroller {
    width: 308px;
    height: 158px;
    position: absolute;
    top: 85px;
}

.about {
    color: white;
    position: absolute;
    left: 12px;
    top: 14px;
    font-family: 'unisans b';
    font-size: 10px;
    letter-spacing: 2px;
}

.status {
    color: white;
    position: absolute;
    left: 12px;
}

.user {
    color: lightgrey;
    position: absolute;
    left: 12px;
    bottom: 15px;
    font-family: 'unisans b';
    font-size: 10px;
    letter-spacing: 1px;
}

.date {
    color: lightgray;
    position: absolute;
    left: 12px;
    bottom: 0px;
    font-size: 11px;
    font-family: 'unisans b';
    letter-spacing: 1px;
}

.one {
    position: absolute;
    color: lightgrey;
    font-size: 14px;
    top: 35px;
}

.two{
    position: absolute;
    color: lightgrey;
    font-size: 14px;
    top: 55px;
    left: 12px;
}

.three {
    position: absolute;
    color: lightgrey;
    font-size: 14px;
    top: 75px;
    left: 24px;
}

.four {
    position: absolute;
    font-size: 14px;
    top: 95px;
    left: 38px;
}

.biolink {
    position: relative;
    color: #008eda;
    text-decoration: none;
}

.biolink:hover {
    color: #008eda;
  }

.biolink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #008eda;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.biolink:hover::before {
    transform: scaleX(1);
}

.active {
    color: rgb(174, 175, 185);
    position: absolute;
    left: 8px;
    bottom: 140px;
    width: 292px;
    height: 32px;
    background: #130020;
}

.active:hover {
    background-color: rgb(65, 41, 84);
    border-radius: 3px;
    transition: 0.2s;
}

.icon {
    position: absolute;
    top: 7.5px;
    left: 8px;
    width: 15px;
    height: 15px;
}

.dontw {
    position: absolute;
    position: absolute;
    left: 32px;
    top: 8px;
    font-family: 'unisans b';
    letter-spacing: 1px;
    font-size: 12px;
}

.customstatus {
    color: rgb(174, 175, 185);
    position: absolute;
    left: 8px;
    bottom: 105px;
    width: 292px;
    height: 32px;
    background: #130020;
}

.customstatus:hover {
    background-color: rgb(65, 41, 84);
    border-radius: 3px;
    transition: 0.2s;
}

.smile {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
}

.madecustom {
    position: absolute;
    position: absolute;
    left: 32px;
    top: 7.5px;
    font-family: 'unisans b';
    letter-spacing: 1px;
    font-size: 12px;
}

.switch {
    color: rgb(174, 175, 185);
    position: absolute;
    left: 8px;
    bottom: 57px;
    width: 292px;
    height: 32px;
    background: #130020;
}

.switch:hover {
    background-color: rgb(65, 41, 84);
    border-radius: 3px;
    transition: 0.2s;
}

.sicon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 23px;
    height: 23px;
}

.switchtext{
    position: absolute;
    position: absolute;
    left: 32px;
    top: 8.5px;
    font-family: 'unisans b';
    letter-spacing: 1px;
    font-size: 12px;
}

.line3 {
    width: 284px;
    height: 1px;
    background: grey;
    position: absolute;
    margin: 12px 12px 0;
    top: 330px;
}

.line4 {
    width: 284px;
    height: 1px;
    background: grey;
    position: absolute;
    margin: 12px 12px 0;
    top: 375px;
}

.iconstate {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    box-shadow: 0 0 0 4px #200038;
    left:80px;
    top: 138px;
    position: absolute;
}

.cid {
    position: absolute;
    bottom: 9px;
    left: 8px;
    width: 292px;
    height: 32px;
    background-color: #130020;
    user-select: none;
    border: 0px;
}

.cid:hover {
    background-color: rgb(71,82,196);
    border-radius: 3px;
    transition: 0.2s;
}

.idicon {
    position: absolute;
    top: 6px;
    left: 5.5px;
    width: 20px;
    height: 20px;
}

.copyid {
    position: absolute;
    left: 33.5px;
    top: 8.5px;
    font-family: "unisans b";
    letter-spacing: 1px;
    font-size: 12px;
    color: rgb(174, 175, 185);
}